.player-progress {
  align-items: center;
  margin-top: 32px;
  display: flex;
}

.bar {
  position: relative;
  width: 560px;
  height: 4px;
  margin: 0 24px;
}

.time {
  color: #424242;
  font-size: 14px;
  font-weight: bold;
  transition: color 300ms;
}

.show,
.control {
  -webkit-appearance: none;
  position: absolute 0;
  width: 100%;
  outline: 0;
  margin: 0;
}

.show {
  height: 100%;

  &::-webkit-progress-bar {
    border-radius: 2px;
    background: #e0e0e0;
    padding: 0;
  }

  &::-webkit-progress-value {
    border-radius: 2px;
    background: #424242;
    height: 100%;
    transition: background 300ms;
  }
}

.control {
  opacity: 0;
  height: 200%;
  top: -50%;
}
